<form class="flexcol fighter-sheet" autocomplete="off">
  <div>
    <header class="sheet-header">
      <div class="header-fields">
        <div class="avatar-power">
          <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        </div>
        <div class="flex-1">
          <div class="flex width-100 space-b">
            <h2 class="charname">
              <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h2>
            <div class="flex">
              <p>P.L.</p>
              <input type="number" style="width: 20%;">
            </div>
          </div>
          <div class="no-gap">
            <div class="flex space-b">
              <p id="HP">{{localize "SHEET.HP"}}</p>
              <input type="number" id="hp">
            </div>
            <hr class="baseline">
            <div class="flex space-b">
              <p id="SE">{{localize "SHEET.SE"}}</p>
              <input type="number" id="se">
              <input type="number" id="fs">
              <p id="FS">{{localize "SHEET.FS"}}</p>
            </div>
          </div>
          <div class="roll-button">
            <button>ROLL</button>
          </div>
        </div>
      </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="basics">Basics</a>
      <a class="item" data-tab="moves">Moves</a>
      <a class="item" data-tab="bio">Bio</a>
    </nav>
    <section class="sheet-body">
      <div class="tab basics" data-group="primary" data-tab="basics">
        basics
      </div>
      <div class="tab moves" data-group="primary" data-tab="moves">
        moves
      </div>
      <div class="tab bio" data-group="primary" data-tab="bio">
        bio
      </div>
    </section>
  </div>
</form>